body{
    padding-left: 170px;
    background-color: #f0f0f0;
}

.sidebar a {
    font-size: 18px;
}

.pusher {
    height: 93vh;
    padding: 40px 40px 10px;
}

.footer a, .footer h4{
    font-size: large;
    font-weight: bolder;
}

.segment{
    font-size: 12px;
}

#divDados{
    padding-top: 10px;
}